# Virtual environment
venv/

# IDE files
.vscode/
*.pyc

# Django related
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
media/

# Logs and databases
*.log
*.sqlite3

# Static files
staticfiles/

# Environment variables
.env

# Ignore local settings
settings_local.py
